<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>frame000</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{516,516}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceColorRect</key>
				<string>{{0,0},{516,516}}</string>
				<key>sourceSize</key>
				<string>{516,516}</string>
			</dict>
			<key>frame001</key>
			<dict>
				<key>frame</key>
				<string>{{520,2},{516,516}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceColorRect</key>
				<string>{{518,0},{516,516}}</string>
				<key>sourceSize</key>
				<string>{516,516}</string>
			</dict>
			<key>frame002</key>
			<dict>
				<key>frame</key>
				<string>{{1038,2},{516,516}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceColorRect</key>
				<string>{{1036,0},{516,516}}</string>
				<key>sourceSize</key>
				<string>{516,516}</string>
			</dict>
			<key>frame003</key>
			<dict>
				<key>frame</key>
				<string>{{1556,2},{516,516}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceColorRect</key>
				<string>{{1554,0},{516,516}}</string>
				<key>sourceSize</key>
				<string>{516,516}</string>
			</dict>
			<key>frame004</key>
			<dict>
				<key>frame</key>
				<string>{{2074,2},{516,516}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceColorRect</key>
				<string>{{2072,0},{516,516}}</string>
				<key>sourceSize</key>
				<string>{516,516}</string>
			</dict>
			<key>frame005</key>
			<dict>
				<key>frame</key>
				<string>{{2592,2},{516,516}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceColorRect</key>
				<string>{{2590,0},{516,516}}</string>
				<key>sourceSize</key>
				<string>{516,516}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>sheet_Lulu_Lulu_Left_Jump.png</string>
			<key>size</key>
			<string>{4096,1024}</string>
			<key>textureFileName</key>
			<string>sheet_Lulu_Lulu_Left_Jump.png</string>
		</dict>
	</dict>
</plist>
