<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>frame000</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{516,516}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceColorRect</key>
				<string>{{0,0},{516,516}}</string>
				<key>sourceSize</key>
				<string>{516,516}</string>
			</dict>
			<key>frame001</key>
			<dict>
				<key>frame</key>
				<string>{{520,2},{516,516}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceColorRect</key>
				<string>{{518,0},{516,516}}</string>
				<key>sourceSize</key>
				<string>{516,516}</string>
			</dict>
			<key>frame002</key>
			<dict>
				<key>frame</key>
				<string>{{1038,2},{516,516}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceColorRect</key>
				<string>{{1036,0},{516,516}}</string>
				<key>sourceSize</key>
				<string>{516,516}</string>
			</dict>
			<key>frame003</key>
			<dict>
				<key>frame</key>
				<string>{{1556,2},{516,516}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceColorRect</key>
				<string>{{1554,0},{516,516}}</string>
				<key>sourceSize</key>
				<string>{516,516}</string>
			</dict>
			<key>frame004</key>
			<dict>
				<key>frame</key>
				<string>{{2074,2},{516,516}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceColorRect</key>
				<string>{{2072,0},{516,516}}</string>
				<key>sourceSize</key>
				<string>{516,516}</string>
			</dict>
			<key>frame005</key>
			<dict>
				<key>frame</key>
				<string>{{2592,2},{516,516}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceColorRect</key>
				<string>{{2590,0},{516,516}}</string>
				<key>sourceSize</key>
				<string>{516,516}</string>
			</dict>
			<key>frame006</key>
			<dict>
				<key>frame</key>
				<string>{{3110,2},{516,516}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceColorRect</key>
				<string>{{3108,0},{516,516}}</string>
				<key>sourceSize</key>
				<string>{516,516}</string>
			</dict>
			<key>frame007</key>
			<dict>
				<key>frame</key>
				<string>{{2,520},{516,516}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceColorRect</key>
				<string>{{0,518},{516,516}}</string>
				<key>sourceSize</key>
				<string>{516,516}</string>
			</dict>
			<key>frame008</key>
			<dict>
				<key>frame</key>
				<string>{{520,520},{516,516}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceColorRect</key>
				<string>{{518,518},{516,516}}</string>
				<key>sourceSize</key>
				<string>{516,516}</string>
			</dict>
			<key>frame009</key>
			<dict>
				<key>frame</key>
				<string>{{1038,520},{516,516}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceColorRect</key>
				<string>{{1036,518},{516,516}}</string>
				<key>sourceSize</key>
				<string>{516,516}</string>
			</dict>
			<key>frame010</key>
			<dict>
				<key>frame</key>
				<string>{{1556,520},{516,516}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceColorRect</key>
				<string>{{1554,518},{516,516}}</string>
				<key>sourceSize</key>
				<string>{516,516}</string>
			</dict>
			<key>frame011</key>
			<dict>
				<key>frame</key>
				<string>{{2074,520},{516,516}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceColorRect</key>
				<string>{{2072,518},{516,516}}</string>
				<key>sourceSize</key>
				<string>{516,516}</string>
			</dict>
			<key>frame012</key>
			<dict>
				<key>frame</key>
				<string>{{2592,520},{516,516}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceColorRect</key>
				<string>{{2590,518},{516,516}}</string>
				<key>sourceSize</key>
				<string>{516,516}</string>
			</dict>
			<key>frame013</key>
			<dict>
				<key>frame</key>
				<string>{{3110,520},{516,516}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceColorRect</key>
				<string>{{3108,518},{516,516}}</string>
				<key>sourceSize</key>
				<string>{516,516}</string>
			</dict>
			<key>frame014</key>
			<dict>
				<key>frame</key>
				<string>{{2,1038},{516,516}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceColorRect</key>
				<string>{{0,1036},{516,516}}</string>
				<key>sourceSize</key>
				<string>{516,516}</string>
			</dict>
			<key>frame015</key>
			<dict>
				<key>frame</key>
				<string>{{520,1038},{516,516}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceColorRect</key>
				<string>{{518,1036},{516,516}}</string>
				<key>sourceSize</key>
				<string>{516,516}</string>
			</dict>
			<key>frame016</key>
			<dict>
				<key>frame</key>
				<string>{{1038,1038},{516,516}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceColorRect</key>
				<string>{{1036,1036},{516,516}}</string>
				<key>sourceSize</key>
				<string>{516,516}</string>
			</dict>
			<key>frame017</key>
			<dict>
				<key>frame</key>
				<string>{{1556,1038},{516,516}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceColorRect</key>
				<string>{{1554,1036},{516,516}}</string>
				<key>sourceSize</key>
				<string>{516,516}</string>
			</dict>
			<key>frame018</key>
			<dict>
				<key>frame</key>
				<string>{{2074,1038},{516,516}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceColorRect</key>
				<string>{{2072,1036},{516,516}}</string>
				<key>sourceSize</key>
				<string>{516,516}</string>
			</dict>
			<key>frame019</key>
			<dict>
				<key>frame</key>
				<string>{{2592,1038},{516,516}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceColorRect</key>
				<string>{{2590,1036},{516,516}}</string>
				<key>sourceSize</key>
				<string>{516,516}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>sheet_Lulu_Lulu_Left_Dash.png</string>
			<key>size</key>
			<string>{4096,2048}</string>
			<key>textureFileName</key>
			<string>sheet_Lulu_Lulu_Left_Dash.png</string>
		</dict>
	</dict>
</plist>
